.inner_content{
  display: grid;
  /* display: flex; */
  grid-template-areas: repeat();
  grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
}
._back_nav {
  margin: 10px;
  background: antiquewhite;
  padding: 10px;
  width: 200px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid seagreen;
  background: #007aff;
  color: white;
}
.main_details {
  position: relative;
  top: 90px;
}
.outer_img{
  // border-radius: 28px;
  margin: 15px;
  // width: 100%;
}
.image_wh{
  // height: 300px ;
  // width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #ccc;
}
.details{
  margin: 15px;
    background: aliceblue;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 3px #8080ff;
}
// ::ng-deep .ngxImageZoomContainer > img{
//   max-height: 450px!important;
//   border-radius: 15px;
//   max-width: 450px!important;
//   }
::ng-deep .ngxImageZoomContainer > img{
  height: 400px;
  width: 400px;
  border-radius: 15px;
}
  p.test {
    // width: 100%;
    // border: 1px solid #000000;
    word-wrap: break-word;
}
