<<<<<<< HEAD
.main_sidebar {
  background: #212a33;
  position: fixed;
  height: 100%;
  // z-index: -1;
  width: 10%;
  top: 0;
}
.inner_icon{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 75px;
}
.menu_icon{
  cursor: pointer;
}
.menu_list{
  display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.icon{
  margin: 15px;
  cursor: pointer;
}
a {
  color: white;
  text-decoration:none;
}
.active{
  background: #007aff;
  border-radius: 8px;
  width: 90%;
  display: flex;
  justify-content: center;

}
=======
.main_sidebar {
  background: #212a33;
  position: fixed;
  height: 100%;
  // z-index: -1;
  width: 10%;
  top: 0;
}
.inner_icon{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 75px;
}
.menu_icon{
  cursor: pointer;
}
.menu_list{
  display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.icon{
  margin: 15px;
  cursor: pointer;
}
a {
  color: white;
  text-decoration:none;
}
.active{
  background: #007aff;
  border-radius: 8px;
  width: 90%;
  display: flex;
  justify-content: center;

}
>>>>>>> 34c940b9973658a1ac9b56587ae3b47bf2d1f947
