<<<<<<< HEAD
.yes_btn{
  background-color: #007aff;
  color:white;
}
.no_btn{
  background-color: red;
  color: white;
}
=======
.yes_btn{
  background-color: #007aff;
  color:white;
}
.no_btn{
  background-color: red;
  color: white;
}
>>>>>>> 34c940b9973658a1ac9b56587ae3b47bf2d1f947
